.cart-image {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: auto;
  width: 200px;
}

.cart-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 500px;
}

.form-checkout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: fit-content;
}

.payment-check {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: fit-content;
}
