.cart-image {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: auto;
  width: 200px;
}

.cart-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: auto;
  width: 500px;
}

.header-product-detail {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
